.menu-list{
    box-shadow: -2px 7px 15px 0 rgba(0,0,0,.11);
    background: #fff;
    padding: 20px;
    margin-bottom: 40px;
    color: #000;

}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.menus{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    white-space: nowrap;
    grid-gap: 40px;
    color: #000;
    font-size: 16px;

}
.menus-inn{
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
